<!-- About Section -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">{% t the_clean_insights_approach_title %}</h2>
                <h3 class="section-subheading text-muted">{% t the_clean_insights_approach_desc %}</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>{% t data_minimization %}</h4>
                                <h4 class="subheading">{% t data_minimization_sub %}</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">{% t data_minimization_text %}</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>{% t source_aggregation %}</h4>
                                <h4 class="subheading">{% t source_aggregation_sub %}</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">{% t source_aggregation_text %}</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>{% t detail_generalization %}</h4>
                                <h4 class="subheading">{% t detail_generalization_sub %}</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">{% t detail_generalization_text %}</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>{% t engaged_transparency %}</h4>
                                <h4 class="subheading">{% t engaged_transparency_sub %}</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">{% t engaged_transparency_text %}</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <h4>{% t better_living_through_insights %}</h4>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>