<!-- Clients Aside -->
    <aside class="clients">
        <div class="container">
            <div class="row">
		       <div class="col-lg-12 text-center">
			       <br/><br/>
			       <h4 class="section-subheading text-muted">{% t supported_by %}</h4>
                </div>

                <div class="col-md-3 col-sm-6">
                    <a href="https://guardianproject.info">
                        <img src="img/logos/gp.jpg" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="https://okthanks.com">
                        <img src="img/logos/okthanks.png" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="https://globaltech.internews.org/our-resources/basics">
                        <img src="img/logos/internews.jpg" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
			<a href="https://www.berkmankleinassembly.org/">
                        <img src="img/logos/assembly.jpg" class="img-responsive img-centered" alt="">
                    </a>
                </div>
            </div>
        </div>
    </aside>
