<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">{% t contact_us %}</h2>
                <h3 class="section-subheading text-muted" style="color:white;">{% t contact_us_desc %}</h3>
            </div>
        </div>
    </div>
</section>