<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <span class="copyright">Copyright &copy; {{ site.title }} {{ 'now' | date: "%Y" }}</span>
            </div>
            <div class="col-md-4">
                <ul class="list-inline quicklinks">
                    <li><a href="https://guardianproject.info/privacy">Privacy Policy</a></li>
                    <li><a href="https://gitlab.com/cleaninsights/cleaninsights.gitlab.io/-/blob/master/CODE-OF-CONDUCT.md">Code of Conduct</a></li>
                    <li><a onclick="withdrawConsent();">Withdraw consent</a></li>
                    <li><a onclick="grantConsent();">Grant consent</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="list-inline quicklinks">
                    {% for langcode in site.languages %}
                    <li style="display:block; margin-bottom: 1rem;">
                        {% if langcode=="en" %}
                        <a href="/">
                        {% else %}
                        <a href="/{{ langcode }}/">
                        {% endif %}
                        {{ site.data.i18n.language_selector[langcode] }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</footer>