<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="taa-banner">
        <div class="container taa-container">
            <div class="taa-text">
                <span class="radioactive">☢</span>
                <span><b>DO YOU HAVE TOXIC DATA?</b> Find out with a FREE Toxic Asset Review. <i>(no strings attached)</i>
            </div>
            <div class="taa-cta">
                <a href="/toxic" class="btn btn-default taa-btn">LEARN MORE</a>
            </div>
        </div>
    </div>
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="{{base.url}}"><img src="img/logos/ci_logo_words_white_500px.png"
                    style="width:400px;margin-top:-20px" alt="{{site.title}}" /></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li>
                    <a class="page-scroll" href="#about">{% t approach %}</a>
                </li>
                <li>
                    <a class="page-scroll" href="#services">{% t toolkits %}</a>
                </li>
                <li>
                    <a class="page-scroll" href="#portfolio">{% t how_to %}</a>
                </li>
                <li>
                    <a class="page-scroll" href="#team">{% t team %}</a>
                </li>
                <li>
                    <a href="https://docs.cleaninsights.org/">{% t docs %}</a>
                </li>
                <li>
                    <a class="page-scroll" href="#contact">{% t contact %}</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<!-- Header -->
<header>
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in">{% t intro_lead_in %}</div>
            <div class="intro-heading">{% t intro_heading %}</div>
            <a href="#about" class="page-scroll btn btn-xl">{% t tell_me_more %}</a>&nbsp;&nbsp;
            <a href="{{site.baseurl}}/tea" class="page-scroll btn btn-xl">{% t get_free_tea %}</a>
        </div>
    </div>
</header>
