 <!-- jQuery Version 1.11.0 -->
    <script src="{{ "/js/jquery-1.11.0.js" | prepend: site.baseurl }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>

    <!-- Plugin JavaScript -->
    <script src="{{ "/js/jquery.easing.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/classie.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/cbpAnimatedHeader.js" | prepend: site.baseurl }}"></script>

    <!-- Contact Form JavaScript -->
    <script src="{{ "/js/jqBootstrapValidation.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/contact_me.js" | prepend: site.baseurl }}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{{ "/js/agency.js" | prepend: site.baseurl }}"></script>


<!-- Matomo -->
<script type="text/javascript">
  var _paq = window._paq = window._paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//metrics.cleaninsights.org/";
    _paq.push(['setTrackerUrl', u+'matomo.php']);
    _paq.push(['setSiteId', '19']);
    _paq.push(['enableHeartBeatTimer']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Matomo Code -->
<!-- Clean Insights -->
<script src="/js/clean-insights-auto-tracker.js"></script>
<script>
  // Use the Clean Insights Matomo Instance via the CIMP.
  // Site ID for CI on CI is 31.
  const ci = CleanInsightsAutoTracker("https://metrics.cleaninsights.org/cleaninsights.php", 31);

  const grantConsent = (event) => {
    console.log('Granting consent (opt-out in footer)');
    ci.grantCampaign('visits');
    _paq.push(['forgetUserOptOut']);
  }
  const withdrawConsent = (event) => {
    ci.denyCampaign('visits');  // opt out of CI
    _paq.push(['optUserOut']);  // opt out of Matomo
    alert("Consent withdrawn");
  };

  // Automatically consent to cookie-less page view.
  if (!ci.campaignConsents.some((item) => { return item === 'visits' })) {
    grantConsent();
  }
</script>
<!-- End Clean Insights Code -->