<!-- Services Section -->
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">{% t toolkits_for_measurement %}</h2>
                <h3 class="section-subheading text-muted">
                    {% t toolkits_for_measurement_desc %}
                </h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <a href="https://gitlab.com/cleaninsights/clean-insights-js-sdk">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-code fa-stack-1x fa-inverse"></i>
                    </a>
                </span>
                <h4 class="service-heading">Javascript SDK</h4>
                <p class="text-muted">
                    {% t js_sdk_desc %}<br>
                    <a href="https://gitlab.com/cleaninsights/clean-insights-js-sdk">{% t get_it_on_gitlab %}</a><br>
                    <a href="https://cleaninsights.gitlab.io/clean-insights-js-sdk/">{% t api_docs %}</a>
                </p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <a href="https://gitlab.com/cleaninsights/clean-insights-android-sdk">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-android fa-stack-1x fa-inverse"></i>
                    </a>
                </span>
                <h4 class="service-heading">Android SDK</h4>
                <p class="text-muted">
                    {% t android_sdk_desc %}<br>
                    <a href="https://gitlab.com/cleaninsights/clean-insights-android-sdk">{% t get_it_on_gitlab %}</a><br>
                    <a href="https://cleaninsights.gitlab.io/clean-insights-android-sdk/">{% t api_docs %}</a>
                </p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <a href="https://gitlab.com/cleaninsights/clean-insights-apple-sdk">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-apple fa-stack-1x fa-inverse"></i>
                    </a>
                </span>
                <h4 class="service-heading">Apple SDK</h4>
                <p class="text-muted">
                    {% t apple_sdk_desc %}<br>
                    <a href="https://gitlab.com/cleaninsights/clean-insights-apple-sdk">{% t get_it_on_gitlab %}</a><br>
                    <a href="https://cleaninsights.gitlab.io/clean-insights-apple-sdk/">{% t api_docs %}</a>
                </p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <a href="https://gitlab.com/cleaninsights/clean-insights-python-sdk">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-code fa-stack-1x fa-inverse"></i>
                    </a>
                </span>
                <h4 class="service-heading">Python SDK</h4>
                <p class="text-muted">
                    {% t python_sdk_desc %}<br>
                    <a href="https://gitlab.com/cleaninsights/clean-insights-python-sdk">{% t get_it_on_gitlab %}</a><br>
                    <a href="https://cleaninsights.gitlab.io/clean-insights-python-sdk/">{% t api_docs %}</a>
                </p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <a href="https://gitlab.com/cleaninsights/clean-insights-rust-sdk">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-code fa-stack-1x fa-inverse"></i>
                    </a>
                </span>
                <h4 class="service-heading">Rust SDK</h4>
                <p class="text-muted">
                    {% t rust_sdk_desc %}<br>
                    <a href="https://gitlab.com/cleaninsights/clean-insights-rust-sdk">{% t get_it_on_gitlab %}</a><br>
                    <a href="https://cleaninsights.gitlab.io/clean-insights-rust-sdk/clean_insights_sdk/">{% t api_docs %}</a>
                </p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <a
                        href="https://gitlab.com/cleaninsights/clean-insights-design/-/blob/master/docs/CleanInsights-ClientSpec-v0.0.1.md">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-file fa-stack-1x fa-inverse"></i>
                    </a>
                </span>
                <h4 class="service-heading">{% t specification_and_design %}</h4>
                <p class="text-muted">
                    {% t specification_and_design_desc %}<br>
                    <a href="https://gitlab.com/cleaninsights/clean-insights-design">{% t get_it_on_gitlab %}</a><br>
                    <a
                        href="https://gitlab.com/cleaninsights/clean-insights-design/-/blob/master/schema-docs/README.md">{% t json_schema_docs %}</a>
                </p>
            </div>
        </div>
        <div class="col-lg-12 text-center">
            <br /><br />
            <a href="/getstarted" class="page-scroll btn btn-xl">{% t get_started_with_4_step_process %}</a>
        </div>

    </div>
</section>