<!-- Team Section -->
<section id="team" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">{% t our_insightful_team %}</h2>
                <h3 class="section-subheading text-muted">{% t our_insightful_team_desc %}</h3>
            </div>
        </div>
        <div class="row">
            {% for member in site.people %}
            {% if member.alumni==false %}
            <div class="col-sm-4">
                <div class="team-member">
                    <img src="img/team/{{ member.pic }}.jpg" class="img-responsive img-circle" alt="">
                    <h4>{{ member.name }}</h4>
                    <p class="text-muted">{{ member.position }}</p>
                    <ul class="list-inline social-buttons">
                        {% for network in member.social %}
                        <li>
                            <a href="{{ network.url }}">
                                <i class="fa fa-{{ network.title }}"></i>
                            </a>
                        </li>
                        {% endfor %}

                    </ul>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <br /><br />
                <h4 class="section-subheading text-muted">{% t insightful_alumni %}</h4>
            </div>
            {% for member in site.people %}
            {% if member.alumni %}
            <div class="col-sm-4">
                <div class="team-member">
                    <img src="img/team/{{ member.pic }}.jpg" class="img-responsive img-circle" alt="">
                    <h4>{{ member.name }}</h4>
                    <p class="text-muted">{{ member.position }}</p>
                    <ul class="list-inline social-buttons">
                        {% for network in member.social %}
                        <li>
                            <a href="{{ network.url }}">
                                <i class="fa fa-{{ network.title }}"></i>
                            </a>
                        </li>
                        {% endfor %}

                    </ul>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <p class="large text-muted">
                </p>
            </div>
        </div>
    </div>
</section>