.taa-banner {
    background-color: yellow;
    display: flex;
    /* negative because navbar has padding in fullscreen */
    margin-top: -25px;
    margin-bottom: 25px;
    min-height: 80px;
    padding: 10px 0;
    width: 100%;
}

.taa-container {
    display: flex;
}

span.radioactive {
    font-size: 6rem;
    margin-right: 10px;
    vertical-align: -11px;
}

.taa-text {
    color: black;
    flex-grow: 1;
    font-family: sans-serif;
    font-size: 20px;
}

.taa-cta {
    align-items: center;
    display: flex;
    /* Add this line to enable vertical alignment */
    justify-content: center;
    /* Add this line to center horizontally */
    margin-left: 40px;
}

.taa-btn {
    background-color: black;
    color: white;
    font-family: sans-serif;
    font-weight: 600;
    padding: 10px 30px;
}