<!DOCTYPE html>
<html>

  {% include head.html %}
    <body id="page-top" class="index">

    {% include smallheader.html %}
        <div class="container">
		<span>
    {{ content }}
			</span>
	</div>


    {% include footer.html %}
    {% include js.html %}

    </body>
</html>
